* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: #080808;
  color: #fff;
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #048c96;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  display: none; /* Initially hide the icon */
  transition: 0.5s;
  z-index: 4;
}

#scrollToTop:hover {
  box-shadow: 0 0 20px #68f6ff;
  border: 1px solid #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/mybg.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 120px;
  height: 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: #68f6ff;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
  cursor: pointer;
}
.header-text {
  margin: 12% auto auto 15%;
  font-size: 30px;
  border-left: 5px solid #68f6ff;
  padding-left: 10px;
}

.header-text p {
  animation: fadeInOut 2s infinite;
}

.header-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.header-text h1 span {
  color: #68f6ff;
}

/* =========About-------- */
#about {
  width: 100%;
  height: 100vh;
  padding: 50px 0;

  display: flex;
  justify-content: center;
  color: #fff;
  background: #0f0f0fe5;
  position: relative;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  box-shadow: 1px 1px 10px #fff;
  height: 85vh;
  overflow: hidden;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.about-p {
  font-size: 1.3rem;
  text-indent: 40px;
  margin-top: 20px;
  line-height: 30px;
  text-align: justify;
}

.about-p #certificate-btn {
  text-decoration: underline #fff;
  color: #68f6ff;
  cursor: pointer;
}

.p-Bnt {
  padding: 5px;
  border: none;
  background: #0f0f0fe5;
  color: #68f6ff;
  font-size: 1.1rem;
  text-decoration: underline;
}

.see-more {
  display: none;
  margin-top: 20px;
}

.cert-container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 6;
}
.sub-certificate-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#close {
  font-size: 60px;
  color: rgb(247, 125, 125);
  transition: 0.3s;
  position: absolute;
  right: 15%;
  top: 10%;
}
#close:hover {
  color: red;
  text-shadow: 1px 1px 20px #6edee7;
}

.sub-certificate-cont img {
  width: 60%;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #68f6ff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links:hover::after {
  width: 100%;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  font-size: 1rem;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #68f6ff;
  font-size: 1.1rem;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* --------Services---------- */
#services {
  width: 100%;
  height: 100vh;
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div:hover {
  background: #048c96;
  transform: translateY(-10px);
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

/* --------portfolio---------- */
#portfolio {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background: #0f0f0fe5;
  position: relative;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  width: 80%;
  height: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  max-width: 100%;
  height: auto-fit;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #68f6ff);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #68f6ff;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #68f6ff;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  background: none;
}

.btn:hover {
  background: #10abb6;
}

/* --- modal see more button ----- */
.popup-container {
  display: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 5;
}
.modal-content {
  width: 100%;
  background: #000;
  height: 100vh;
}
.modal-content h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}
#x-btn {
  font-size: 3rem;
  color: #f55454;
  position: absolute;
  right: 3%;
  top: 3%;
  padding: 20px;
}
#x-btn:hover {
  color: #f82e2e;
  text-shadow: 0 0 10px #ffffff;
}
.modal-content-container {
  height: auto;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0 3% 0 3%;
  background: #000;
}

.modal {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  color: #fff;
  background: #085761;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 20px #8a8888;
  transition: 0.3s;
}

.modal:hover {
  box-shadow: 11px 11px 30px #68f6ff;
  cursor: pointer;
  transform: translateY(-10px);
  border: 1px solid #000;
}

.modal .modalImg {
  border-radius: 10px 10px 0 0;
}

.modal .modalP {
  padding: 15px;
  font-weight: bold;
  color: #fff;
}

/* --------contact--------- */
#contact .container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #68f6ff;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #68f6ff;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #048c96;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn2:hover {
  background: #6edee7;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  padding: 30px 0;
  background: #262626;
  font-weight: 300;
  color: #fff;
}

/* --------animations--------- */

@keyframes fadeInOut {
  0% {
    color: rgb(65, 177, 177);
  }

  20% {
    color: rgba(65, 177, 177, 0.719);
  }

  40% {
    color: rgba(65, 177, 177, 0.555);
  }

  60% {
    color: rgba(65, 177, 177, 0.377);
  }

  80% {
    color: rgba(65, 177, 177, 0.247);
  }

  100% {
    color: rgba(65, 177, 177, 0.144);
  }
}
